extends common

block content
    | Manage KV
    script(type="text/javascript").
        $(document).ready(function () {
            $('select').material_select();
        });
    .container
        h3.center-align
            | CV Access Tokens
        .row.card-panel.center-align
            .row
                .col.s2
                    | Views
                .col.s4
                    | Token Link
                .col.s2
                    | CV Title
                .col.s2
                    | Valid through
                .col.s2
                    | Actions
            .divider
            each token in tokens
                .row
                    .valign-wrapper
                        .col.s2
                            p.valign
                                = token.views
                        .col.s4
                            p.valign
                                a(href=externalUrl + token.key)
                                    =externalUrl + token.key
                        .col.s2
                            p.valign
                                = token.cv.title
                        .col.s2
                            p.valign
                                = standardDateFormat.format(token.validThrough.toDate())
                        .col.s2
                            p.valign
                                a.btn-floating.red(href='/manage/revokeToken/' + token.id)
                                    i.material-icons
                                        | clear
            .row.input-field
                form(method='post' action='/manage/createToken')
                    .col.s6
                    .col.s2
                        select(id="tokenCVSelect" name="cvId" required=true)
                            option(value="" disabled=true selected=true)
                                | Choose CV
                            each cv in allCV
                                option(value = cv.id)
                                    = cv.title

                    .col.s2
                        input(name="validThrough" type="date" class="datepicker" required=true)
                    .col.s2
                        button.btn-floating.teal(type="submit")
                            i.material-icons
                                | add
                    script(type="text/javascript").
                        $('.datepicker').pickadate({
                            format: 'yyyy-mm-dd',
                            selectMonths: true,
                            selectYears: 15
                        });
        h3.center-align
            | CVs
        .row.card-panel.center-align
            .row
                .col.s10
                    | CV Title
                .col.s2
                    | Actions
            .divider
            each cv in allCV
                .row
                    .col.s10
                        .valign-wrapper
                            p.valign
                                = cv.title
                    .col.s2
                        a.btn-floating.blue(href='/edit/' + cv.id)
                            i.material-icons
                                | edit

            .row.input-field
                form(method='post' action='/manage/createCV')
                    .col.s10
                        input(required=true name="title" type="text")
                    .col.s2
                        button.btn-floating.teal(type="submit")
                            i.material-icons
                                | add
